html {
  background-color: black;
}

.App {
  border: 1px solid lightgrey;
  color: lightgrey;
  text-align: center;
}

p,
div,
h1,
h2,
h3,
h4,
a {
  color: lightgrey;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.auth-container {
  border: 1px dotted pink;
}

.my-shelf-links {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
