@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,700,900&display=swap");

/*
*************
*****App*****
*************
*/
html {
  font-family: Raleway, sans-serif;

  width: 100vw;

  max-width: 100vw;
  margin: 0 auto;
  height: 100vh;
  background-color: #d6ddf1;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  width: 100%;
  height: 100%;
  background-color: #d6ddf1;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MAIN Content section of app*/

main {
  top: 138px;
  left: 0;
  width: 100%;
}

a {
  color: #f1f1f1;
}

p,
h2,
h3 {
  color: #395dc0;
  font-family: Roboto, sans-serif;
}

h3 {
  margin-top: 20px;
}

/* 
********************
*******HEADER*******
******************** 
*/

@media screen and (max-width: 390px) {
  header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 138px;
    max-width: 1100%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f1f1f1;
    flex-grow: 1;

    background: linear-gradient(
        264.53deg,
        #2849a5 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #df6041;
  }
  .title {
    position: absolute;
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 102%;
    padding: 0;
    margin: 15% 0% 0% 5%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

/* Header container */
header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 138px;
  max-width: 1100%;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f1f1f1;
  flex-grow: 1;

  background: linear-gradient(
      264.53deg,
      #2849a5 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #df6041;
}

/* "neighborhood library" logo thing */
header .title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  padding: 0;
  margin: 20px 0 0 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Account drop down nav */

/*
******************
*****My Shelf*****
******************
*/

main {
  min-height: 100%;
  height: 100%;
}
.my-shelf-nav {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 60px;
  top: 0px;
  display: flex;
  justify-content: flex-start;

  background: #395dc0;
}

.my-shelf-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #fcc4b3;
  padding: 0 2%;
}

/* Home Library, Borrowed, and Loaned */
/* And Add Book */
.shelves {
  top: 115px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 96.5%;
  justify-content: flex-start;
  min-height: 1000px;
  padding: 0 2%;
}

/* .shelf {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
} */

.grid-container {
  display: grid;
  width: inherit;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  justify-content: center;
  align-self: center;
}

.book {
  background: #fcc3b2;
  box-shadow: 0px 4px 4px rgba(57, 93, 192, 0.25);
  border-radius: 15px;
  height: 300px;
  width: 20%;
  min-width: 190px;
  max-width: 196px;
  margin: 10px 2%;
  padding: 2px 1%;
}

.book-cover {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.book-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(57, 93, 192, 0.9);
  position: relative;
  bottom: 96px;
  padding: 10px 2%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 0;
}

.book .book-data p {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  align-self: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: #fcc3b2;
}

.book-data .book-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
}

.book-data .book-authors {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
}

.book button {
  align-self: flex-end;
  border: none;
  border-radius: 5px;
  background-color: #f2f4f9;
  color: #65708f;
  margin: 5px 0;
}

.spacer {
  height: 200px;
}

/* Add Book Container */
.add-book-container {
  position: relative;
  top: 5px;
  left: 0;
  width: 100%;
}

.add-book-container > h2:nth-child(1) {
  margin: 17px auto;
}

.add-book-container > p:nth-child(2) {
  margin: 0 auto 34px auto;
}

.add-book-container > form:nth-child(3) {
  margin: 0px auto 30px auto;
}

.add-book-container form {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.add-book-container form input {
  width: 70%;
  border-radius: 5px;
  margin-right: 2%;
}

.add-book-container form button {
  width: 70%;
  border-radius: 5px;
}

.add-book-container .add-book .book-data {
  bottom: 102px;
}
/*
**************
***Account****
**************
*/

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #395dc0;
}

.account-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.account-info img {
  border-radius: 50%;
  align-self: center;
  margin-bottom: 20px;
}

.account-info form,
.edit-account-info-form,
.edit-password-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account-info form .form-pair,
.edit-account-info form .form-pair,
.edit-password-form form .form-pair {
  display: flex;
  width: 100%;
  margin: 2px auto;
  justify-content: space-between;
}

.account-info form .form-pair label,
.edit-account-info form .form-pair label,
.edit-password-form form .form-pair label {
  width: 35%;
}

.account-info form .form-pair input,
.edit-account-info form .form-pair input,
.edit-password-form form .form-pair input {
  border-radius: 5px;
  width: 65%;
  height: 30px;
}

.account-info a {
  background-color: #df6041;
  border-radius: 5px;
  padding: 2px 2%;
  margin-top: 10px;
}

.account .stripe-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account .stripe-connect a img {
  max-width: 250px;
  margin: 10px auto;
}

/* Footer */
footer {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #8099d4;
  padding: 50px 0;
  margin-bottom: 0px;

  font-size: 12px;
  /* position: fixed; */
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

footer .legal-links {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  margin-top: 5px;
}

/* ************************* */
/* SEARCH STYLES */
/* ********** */

.marker-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #395dc0; /*get rgb value to adjust opacity without changing the icon opacity */
  cursor: pointer;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-button img {
  width: 80%;
}

/* ************* */
/* *******Auth******* */
/* **************** */

.auth-container {
  display: flex;
  justify-content: space-evenly;
  padding: 3% 1% 1% 0%;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 0px 0% 131px 8%;
  align-items: center;
  border: 1px solid #2849a5;
  border-radius: 15px;
  padding: 4% 4%;
  height: 100%;
}
.login-button {
  margin: 0% 0% 0% 0%;
  background: #2849a5;
  border: none;
}

.oauth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* width: 200px; */
  padding: 15px 20px 15px 20px;

  margin: -0px 0px 106px 0px;
  border: 1px solid #2849a5;
  border-radius: 15px;
  /* padding: 4% 4%; */
  height: 100%;
}

.auth-container p {
  margin: 0% 5% 9% 5%;
}

.flogin-button {
  color: whitesmoke;
  background-color: #2849a5;
  border-radius: 5px;
  height: 75px;
  width: 100%;
  padding: 0 2%;
}

.glogin-button {
  height: 75px;
  width: 100%;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #6e84c3;
  margin: 10px 0 0 0;
  padding: 0 2%;
}
@media only screen and (max-width: 500px) {
  .auth-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .login {
    display: flex;
    flex-direction: column;
    margin: 0px 0% 131px 0%;
    align-items: center;
    width: 100%;
    color: f1f1f1;
  }
  .login-button {
    margin: 5% 0% 0% 0%;
    color: whitesmoke;
    width: 100%;
  }

  .login-form {
    width: 90%;
  }
  .login-input {
    width: 100%;
  }

  .oauth-container {
    width: 100%;
    margin: 15px;
  }

  .auth-container p {
    margin: 0% 5% 3% 5%;
  }

  .manual-auth-container {
    width: 100%;
  }

  button .flogin-button,
  metro {
    padding: 0 0 0 0;
    color: whitesmoke;
    background: #2849a5;
    height: 75px;
    width: 100%;
  }

  .glogin-button {
    height: 75px;
    width: 100%;

    color: whitesmoke;

    background: #2849a5;

    margin: 10px 0 0 0;
  }
}
.register {
  width: 90%;
}
/* .spacer {
  height: 315px;
} */

/* chat **************************************************************** */
.chat-room {
  display: flex;
  justify-content: space-around;
}
.chat-title {
  display: flex;
  width: 18%;
  height: 88%;
  color: whitesmoke;

  background: #2849a5;
  margin: 1% 0% 1% 0%;
  padding: 1% 1% 1% 1%;
  box-shadow: 1px 1px;
  border-radius: 10px;
}
.chat-title:hover {
  cursor: pointer;
}

.chat-window {
  /* float: right; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 50%;
}

.k-chat,
.k-widget {
  border-radius: 10px;
}

.chat-confirm {
  margin: 10px 0;
  width: 50%;
  color: whitesmoke;
  background-color: #df6041;
  border: none;
}
.chat-confirm:hover {
  background-color: #df6041;
}
/* Inline #4 | http://localhost:3000/auth */

/* Element | http://localhost:3000/auth */

.header-bar {
  position: relative;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 140px;
}

.header-navigation {
  display: flex;
  height: 100%;
}

.logo {
  display: flex;
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  padding: 0;
  margin: 0;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo a:hover,
.logo a:active {
  text-decoration: none;
  color: #abbde5;
}

.nav-links {
  display: flex;
  justify-content: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  padding: 0;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-links li {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin: 10, 10, 20, 20;
  list-style: none;
  /* border: 1px solid green; */
  padding: 20px;
}
.nav-links a:hover,
.nav-link a:active {
  text-decoration: none;
  color: #abbde5;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 30px;
  height: 2px;
  background: white;
}

.side-drawer {
  height: 100%;
  background: linear-gradient(
      264.53deg,
      #2849a5 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #df6041;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  max-width: 400px;
  z-index: 900;
  /* border: 1px solid green; */
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem;
}
.side-drawer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  padding: 0;
  margin: 0;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #abbde5;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.3); */
  z-index: 800;
  opacity: 0.1;
}

@media (max-width: 500px) {
  .nav-links {
    display: none;
  }
  .header-bar {
    display: flex;
    align-items: center;
  }
  .nav-toggle {
    align-self: center;
    margin-right: 15px;
    /* border: 1px solid goldenrod; */
  }
}

@media (min-width: 501px) {
  .side-drawer {
    display: none;
  }
  .nav-toggle {
    display: none;
  }
  .header-bar {
    display: flex;
    flex-direction: column;
  }
}
/*************/
/****MAPS*****/
/*************/

.maps-container {
  display: flex;
  flex-direction: column;
}

/* .map{
  
} */

.library-pop-up {
  overflow-x: scroll;
}

.library {
  display: flex;
  background-color: #d6ddf1;
  flex-wrap: nowrap;
  height: 340px;
  /* overflow-y: hidden; */
  margin-top: 55px;
}

.back-to-map-button {
  height: 50px;
  width: 10%;
  position: absolute;
  margin-top: 5px;
  margin-left: 2%;
  background-color: #395dc0;
  border: none;
}

.back-to-map-button:hover {
  background-color: #395dc0;
}
.teamHeader {
  font-family: Raleway, sans-serif !important;
  font-weight: 600 !important;
}

.teamMemberName {
  font-family: Raleway, sans-serif !important;
  font-weight: 900 !important;
}

.lambdaDescription a {
  color: #757575 !important;
}
.lambdaDescription a:hover {
  color: #757575 !important;
}

.lambdaDescription a:active {
  color: #757575 !important;
}
