.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-space-around;
  width: 100%;
}

.row-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.icon {
  width: 45%;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.static {
  background: white;
}

.bg1::after {
  background-image: url('./assets/neighborhood-library.jpg');
}

.bg2::after {
  background-image: url('./assets/bookshelf.jpg');
}

.bg3::after {
  background-image: url('./assets/book.jpg');
}
