.l-header {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  z-index: 1100;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
}

.link {
  width: 100%;
}

.link p {
  font-size: 25px;
  color: white;
  text-align: right;
  padding-top: 15px;
  margin: 0;
}
